*
{
	margin: 0px;
	padding: 0px;
}
.container
{
  background-color:#358588; 
 height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.box
{
width: 500px;
text-align: center;	
padding: 30px 0px;
box-shadow: 0px 0px 3px 2px white;
}
.display
{
 font-size: 50px;
 padding: 10px 0px;
 box-shadow: 0px 0px 1px 1px white;
 color: white;
 margin: 0px 40px;
}
button
{
	padding: 10px 30px;
	margin: 30px 30px;
	font-size: 15px;
	background-color: transparent;
	border: none;
	color: white;
    box-shadow: 0px 0px 1px 1px white;
}